@model ProductUpdateVM

@{
    ViewBag.Title = "Product Edit";
}

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Edit Product</h2>
            </div>
        </div>
    </div>
</div>

<div class="card-body p-4">
    <form asp-area="Admin"asp-controller="Product" asp-action="Edit" enctype="multipart/form-data" method="post" class="row">
        <div class="border p-3">
            @*<div asp-validation-summary="ModelOnly"></div>*@

            <input asp-for="ProductUpdateRequest.Id" type="hidden" />

            <input asp-for="ProductUpdateRequest.ImageUrl" type="hidden" />

            <div class="row">
                <div class="col-10">
                    <div class="form-floating py-2 col-12">
                        <input asp-for="ProductUpdateRequest.Title" type="text" class="form-control border-0 shadow" />
                        <label asp-for="ProductUpdateRequest.Title" class="ms-2"></label>
                        <span asp-validation-for="ProductUpdateRequest.Title" class="text-danger"></span>
                    </div>
                    <div class="py-2 col-12">
                        <label asp-for="ProductUpdateRequest.Description" class="ms-2 text-muted"></label>
                        <textarea asp-for="ProductUpdateRequest.Description" type="text" class="form-control border-0 shadow"></textarea>
                        <span asp-validation-for="ProductUpdateRequest.Description" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-2 col-12">
                        <input asp-for="ProductUpdateRequest.ISBN" type="text" class="form-control border-0 shadow" />
                        <label asp-for="ProductUpdateRequest.ISBN" class="ms-2"></label>
                        <span asp-validation-for="ProductUpdateRequest.ISBN" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-2 col-12">
                        <input asp-for="ProductUpdateRequest.Author" type="text" class="form-control border-0 shadow" />
                        <label asp-for="ProductUpdateRequest.Author" class="ms-2"></label>
                        <span asp-validation-for="ProductUpdateRequest.Author" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-2 col-12">
                        <input asp-for="ProductUpdateRequest.ListPrice" type="number" class="form-control border-0 shadow" />
                        <label asp-for="ProductUpdateRequest.ListPrice" class="ms-2"></label>
                        <span asp-validation-for="ProductUpdateRequest.ListPrice" class="text-danger"></span>
                    </div>
                    <div class="form-floating py-2 col-12">
                        <input asp-for="ProductUpdateRequest.Price" type="number" class="form-control border-0 shadow" />
                        <label asp-for="ProductUpdateRequest.Price" class="ms-2"></label>
                        <span asp-validation-for="ProductUpdateRequest.Price" class="text-danger"></span>
                    </div>

                    <div class="form-floating py-2 col-12">
                        <input asp-for="ProductUpdateRequest.Price50" type="number" class="form-control border-0 shadow" />
                        <label asp-for="ProductUpdateRequest.Price50" class="ms-2"></label>
                        <span asp-validation-for="ProductUpdateRequest.Price50" class="text-danger"></span>
                    </div>

                    <div class="form-floating py-2 col-12">
                        <input asp-for="ProductUpdateRequest.Price100" type="number" class="form-control border-0 shadow" />
                        <label asp-for="ProductUpdateRequest.Price100" class="ms-2"></label>
                        <span asp-validation-for="ProductUpdateRequest.Price100" class="text-danger"></span>
                    </div>

                    <div class="form-floating py-2 col-12">
                        <input asp-for="File" type="file" class="form-control border-0 shadow" />
                        <label asp-for="File" class="ms-2"></label>
                    </div>

                    <div class="form-floating py-2 col-12">
                        <select asp-for="ProductUpdateRequest.CategoryId" asp-items="ViewBag.Categories" class="form-select border-0 shadow">
                            <option disabled selected>--Select Category--</option>
                        </select>
                        <label asp-for="ProductUpdateRequest.CategoryId" class="ms-2"></label>
                        <span asp-validation-for="ProductUpdateRequest.CategoryId" class="text-danger"></span>
                    </div>

                    <div class="row pt-2">
                        <div class="col-6 col-md-3">
                            <button type="submit" class="btn btn-primary form-control">Update</button>
                        </div>
                        <div class="col-6 col-md-3">
                            <a asp-controller="Product" asp-action="Index" class="btn btn-outline-primary border  form-control">
                                Back to List
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-2">
                    <img src="@Model.ProductUpdateRequest.ImageUrl" width="100%"
                         style="border-radius:5px; border:1px solid #bbb9b9" />
                </div>
            </div>          
        </div>
    </form>
</div>

@section Scripts {
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons  lists   table visualblocks wordcount',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough |  align lineheight | numlist bullist indent outdent',
        });
    </script>
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
